*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* header */

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.container_header{
    width: 100%;
}

.clm_header{
    width: 100%;
    text-align: right;
}
.content_header span {
    color: white;
    background-color: #4a4a4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

/* main */

main{
    width: 100vw;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: auto;
}

.container_main{
    width: 90vw;
    margin: 0 auto;
}

.row_main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clm_main{
    width: calc(100vw / 7);
    margin: 3px 2px;
}

.content_main{
    position: relative;

}

.content_main img{
    width: 100%;
}

.content_main span{
    color: white;
    background-color: rgba(74,74,74,1);
    padding: 5px;
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    left: 0;
}

/* footer */
.color_white{
    color: white;
}

.background_grey{
    background-color: #4a4a4a;
}

.text_center{
    text-align: center;
}

footer{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    
}
.container_footer{
    height: 100%;
    width: 100%;
    background-color: #222222;
}

.row_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.clm_footer25{
    width: 15% ;
}

.clm_footer50{
    width: 70% ;
}

.clm_footer25, .clm_footer50{
    height: 50px;

}

.content_footer li{
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.content_footer ul{
    display: flex;
    align-items: center;
    justify-content: center;

}

.content_footer a{
    font-size: 15px;
    text-decoration:none;
    color: white;
}

.content_footer p{
    margin-top: 5px;
}

#a_green{
    color: green;
}



.clm_footer25 span{
    color: red;
    line-height: 50px;
}






